 { "execute": "qmp_capabilities" }

	{ "execute": "cxl-add-dynamic-capacity",
	  "arguments": {
		  "path": "/machine/peripheral/cxl-memdev0",
		  "region-id": 0,
		  "extents": [
		  {
			  "offset": 0,
			  "len": 134217728
		  },
		  {
			  "offset": 134217728,
			  "len": 134217728
		  }
		  ]
	  }
	}


 { "execute": "cxl-release-dynamic-capacity",
	  "arguments": {
		  "path": "/machine/peripheral/cxl-memdev0",
		"region-id": 0,
		  "extents": [
		  {
			  "offset": 0,
			  "len": 134217728
		  }
		  ]
	  }
	}
