#! /bin/bash
QEMU_ROOT=~/cxl/qemu
KERNEL_ROOT=~/cxl/linux-fixes/
run_opts_file=/tmp/run_opts
QEMU_IMG=~/cxl/images/qemu-image.img
dbg_opt="cxl_acpi.dyndbg=+fplm cxl_pci.dyndbg=+fplm cxl_core.dyndbg=+fplm cxl_mem.dyndbg=+fplm cxl_pmem.dyndbg=+fplm cxl_port.dyndbg=+fplm cxl_region.dyndbg=+fplm cxl_test.dyndbg=+fplm cxl_mock.dyndbg=+fplm cxl_mock_mem.dyndbg=+fplm dax.dyndbg=+fplm dax_cxl.dyndbg=+fplm device_dax.dyndbg=+fplm"
KERNEL_CMD="root=/dev/sda rw console=ttyS0,115200 ignore_loglevel nokaslr ${dbg_opt}"
edac_debug=""
#For arm64, use kernel command like below
#KERNEL_CMD="earlycon root=/dev/vda1 fsck.mode=skip tp_printk maxcpus=4 ${dbg_opt} ${edac_debug}"
SHARED_CFG=""
ssh_port=2024
net_config="-netdev user,id=network0,hostfwd=tcp::${ssh_port}-:22 -device e1000,netdev=network0"
#user name for the VM, by default it is "root"
vm_usr="root"

#section: needed if need to git pull for setup

ndctl_url="https://github.com/pmem/ndctl"
ndctl_branch="main"
kernel_url="https://git.kernel.org/pub/scm/linux/kernel/git/cxl/cxl.git/"
kernel_branch="fixes"
qemu_url="https://gitlab.com/qemu-project/qemu.git"
qemu_branch="master"

accel_mode="tcg"
cxl_test_tool_dir="~/cxl/cxl-test-tool/"
cxl_test_log_dir="/tmp/cxl-logs/"
cxl_host_dir="/tmp/host/"

qmp_port=4445
monitor_port=12346
gdb_port=1234

libcxlmi_branch="main"
libcxlmi_url="https://github.com/computexpresslink/libcxlmi.git"
